@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

.App{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: repeat-x;
background-color: rgb(255, 217, 15);
font-family:"Comic Neue";

}

.heading{
  
  font-size: 40px;
  z-index: 1;
  color: #fff;
  text-align: center;
 

}

.heading--small{
  font-size: 16px;
  font-weight: bold;
}

.todo_single--text{
  display: flex;
  flex: 1;
  padding: 5px;
  font-size: 20px;
  border: none;
  flex-wrap: wrap;

}



@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

